/* Feuille de styles exercice Color Tester */
/* Akbar, Sissako, Yannis, Stéphane, Nicolas, Néphéline */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: white;
  font-family: Avenir, sans-serif;
}

/* CONTAINER */

h1 {
  text-align: center;
  font-size: 2rem;
}
h2,
h3 {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  color: black;
}

.wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
}

/* POPULATE CLASS FOR EVERY DIVISION*/
.displayer {
  border-radius: 5px;
  width: 100px;
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.displayer:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* DIVISION TOP LEFT - RGBA CONTENT */
#rgba>input,
label {
  display: inline-block;
}

label {
  text-align: center;
}

#rgba>div>button {
  width: 80px;
  height: 20px;
  margin-left: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
}

#rgba>div>button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* DIVISION TOP RIGHT - HEXADECIMAL TABLE - */
table {
  background-color: white;
  height: 210px;
}

th,
td {
  padding: 0 5px
}

th {
  padding: 5px 0;
}

#rouge {
  color: red;
  font-weight: bold;
}

#vert {
  color: green;
  font-weight: bold;
}

#bleu {
  color: blue;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 0 50px;
  border-radius: 5px;
  margin: 5px 0 0 0;
}

button:hover {
  cursor: pointer;
}

#transparence {
  width: 100px;
}

input[type=range] {
  width: 100%;
}

/* DIVISION BOTTOM LEFT - COLOR DISPLAYER FOR RGBA */
#rgba-display {
  position: relative;
  width: 100px;
  background-color: rgba(255, 0, 0, 0.8);
}

#rgba-display>p {
  z-index: -2;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

/* DIVISION BOTTOM RIGHT - COLOR DISPLAYER FOR HEXADECIMAL */
#color-displayer {
  justify-self: flex-end;
}

#Output {

  text-shadow: 3px 3px 5px black;
  color: white;
  font-size: 20px;
  font-weight: bold;
}